@import url("./fonts.css");
@import url("./variables.css");

body {
  font-family: "Roboto";
  margin: 0;
}

#app {
  min-height: 100vh;
}

p {
  color: var(--primary-color);
  font-weight: 300;
}

.regular {
  font-weight: 400;
}
